$baseColor:#030617;
$asideColor:#263251;
body,html{
    height: 100%;
    min-height: 100%;   
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $baseColor;
}
*,*::after,*::before{
    box-sizing: inherit;
}
.wrapper{
    padding: 0;
    margin: 0;
    display: flex;
     height: 100%; 
     min-height: 100%;
     overflow-y: hidden;   
}
.wrapper>*{
    flex: 1;
    //border: 1px solid white;
}

.buttonStyle{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #1255bb, #0077cd, #00a2d4, #00cab6, #12eb83);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.sidebar{
    background-color: $asideColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top-sidebar{
        img{
           width: 50px; 
           margin-left: 20px;
           opacity: 0.5;
        }
    }
    ul.navbar{
        display: flex;
        margin: 0px;
        margin-top: 40px;
        padding: 10px;
        justify-content: center;
        li.nav-item{
            list-style: none;
            flex-basis: 100px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            span{
                display: inline-block;
                border: 1px solid white;
                width: 70px;
                height: 70px;
                padding: 15px;
                border-radius: 70px;
                -webkit-border-radius: 70px;
                -moz-border-radius: 70px;
                -ms-border-radius: 70px;
                -o-border-radius: 70px;
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            div{
                text-align: center;
                color:white;
                width: 70px;
                padding-top: 5px;
            }
            
        }
    }
    .btn-made{
        display: flex;
        padding: 10px 20px;
        margin: 0px 10px;
        button{
            @extend .buttonStyle
        }
    }
    .side-list{
        display: flex;
        flex-direction: column;
        .title{
            display: flex;
            justify-content: space-between;
            .title-name{
                color: darkgray;
                font-size: 20px;
                margin-left: 10px;
                text-transform: uppercase;
            }
            span{
                flex-basis: 20px;
                margin-right: 10px;
                display: flex;
                img{
                    width: 15px;
                    opacity: 0.5;
                    align-items: center;
                }
            }
        }
        ul.sidebar-list-menu{
            list-style: none;
            padding-left: 10px;
            font-size: 15px;
            font-weight: 600;
            li.sidebar-list-item{
                padding-top: 5px;
                color: rgb(207, 207, 207);
            }
        }
        
    }
    .btn-playlist{
        @extend .btn-made;
    }
}
.music{
    flex: 2.3;
    
    .music-detail{
        background: url(img/getty_.jpg) no-repeat right top;
        background-size: cover;
        background-position: 0 -20px;
        height: 300px;
        display: flex;
        flex-direction: column;
        .head-music{
            display: flex;
            margin: 10px;
            height: 70px;
            #arrow-left, #arrow-right{
                flex-basis: 30px;
                img{
                    width: 20px;
                }
            }
            #menu{
                flex-basis: 40px;
                img{
                    width: 30px;
                }
             }
            #search{
                flex: 6;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                input{
                    border: none;
                    height: 30px;
                    padding-left: 20px;
                    flex-basis: 200px;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                }
            }
           
        }
        .body-music{
            display: flex;
            min-height: 305px;
            align-items: flex-end;
            >*{
               flex:1; 
            }
            #music-img{
                display: flex;
                justify-content: flex-end;
                img{
                    margin-right: 15px;
                    width: 200px;
                }
            }
            #music-data{
                display: flex;
                flex-direction: column;
                #data{
                    margin-bottom: 30px;
                    font-weight: 600;
                    color: rgb(133, 115, 115);
                }
                .btn-group{
                    display: flex;
                    button{
                        flex: 1;
                        padding: 6px 30px;
                        color: white;
                        font-weight: 600;
                        background-color:rgba(255, 255, 255, 0);
                        border: 1px solid white;
                        border-radius: 40px;
                        -webkit-border-radius: 40px;
                        -moz-border-radius: 40px;
                        -ms-border-radius: 40px;
                        -o-border-radius: 40px;
                        margin: 10px 5px;
                        
                    }
                    #follow{
                        flex: 2;
                    }
                }
                
            
            }
            #music-menu{
                display: flex;
                justify-content: center;
                    align-content: center;
                span{
                    display: inline-block;
                    flex-basis: 40px;
                    padding:10px;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                    margin:10px 5px 0 5px;
                    }
                    img{
                        height: 28px;
                        width: 28px;
                        opacity: .5;
                    }
            }
        }

    }

    .music-lists{
        margin-top: 70px;
        ul#table-list{
            display: flex;
            flex-direction: column;
            list-style: none;
            color: white;
            margin-left: 0px;
            padding-left: 0px;
            #music-head-table{
                color: rgba(255, 255, 255, 0.541);
                span{
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    img{
                        width: 25px;
                        height: 25px;
                        opacity: 0.5;
                    }
                }
            }
            ul{
                display: flex;
                list-style: none;
                margin: 15px 20px;
                padding-left: 0px;
                li{
                    flex:5;
                }
                :nth-child(1){
                    flex: 1;
                }
                
            }
            
            .music-item-data{
                span{
                    display: inline-block;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
   }
}
.users{
    height: 100%;
    background-color: $asideColor;
    
    overflow-y: scroll !important;
    .contacts-list{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        li.contact-item{
            display: flex;
            margin: 10px 0;
            align-items: center;
            justify-content: flex-start;
            color: rgba(255, 255, 255, 0.4);
            font-weight: 600;
            .profile-photo{
                display: inline-block;
                flex: 1;
                img{
                    width: 50px;
                    height: 50px;
                }
            }
            #my-name{
                flex: 4;
                color: #9d9d9d;
                margin-left: 10px;
            }
            #notif{
                flex: 1;
               div{
                    color: rgb(207, 207, 207);
                    width: 40px;
                    height: 40px;
                    background-color: #025e86;
                    padding:10px;
                    border-radius: 40px;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    -ms-border-radius: 40px;
                    -o-border-radius: 40px;
                    text-align: center;
                    }
                }
            #drop-menu{
                display: inline-block;
                flex: 1;
                img{
                    opacity: 0.5;
                    width: 20px;
                    height: 20px;
                }
            }
            .frind-name{
                flex: 4;
                color: whitesmoke;
            }
        }
    }
}